---
Language: cpp

IndentWidth: 4
UseTab: Never
IndentCaseLabels: false
ColumnLimit: 120

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false

DerivePointerAlignment: false
PointerBindsToType: false
AlignConsecutiveDeclarations: true
InheritParentConfig: false
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,readability-identifier-naming'
WarningsAsErrors: ''
CheckOptions:
  readability-identifier-naming.AbstractClassCase: lower_case
  readability-identifier-naming.AbstractClassPrefix:
  readability-identifier-naming.AbstractClassSuffix:

  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.ClassPrefix:
  readability-identifier-naming.ClassSuffix:

  readability-identifier-naming.ClassConstantCase: lower_case
  readability-identifier-naming.ClassConstantPrefix:
  readability-identifier-naming.ClassConstantSuffix:

  readability-identifier-naming.ConstantPointerCase: lower_case
  readability-identifier-naming.ConstantPointerPrefix:
  readability-identifier-naming.ConstantPointerSuffix:

  readability-identifier-naming.ConstexprFunctionCase: camelCase
  readability-identifier-naming.ConstexprFunctionPrefix:
  readability-identifier-naming.ConstexprFunctionSuffix:

  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: c
  readability-identifier-naming.ConstexprVariableSuffix:

  readability-identifier-naming.EnumCase: lower_case
  readability-identifier-naming.EnumPrefix:
  readability-identifier-naming.EnumSuffix:

  readability-identifier-naming.EnumConstantCase: lowercase
  readability-identifier-naming.EnumConstantPrefix:
  readability-identifier-naming.EnumConstantSuffix:

  readability-identifier-naming.NamespaceCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.GlobalConstantCase: SNAKE_CASE
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.VariableCase: SNAKE_CASE
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.LocalVariableCase: lower_case
SystemHeaders: false
...

